In [2]:
#Pandas
import pandas as pd

#SQL Alchemy
import psycopg2
from sqlalchemy import create_engine
from config import Password

engine = create_engine(f'postgresql://postgres:{Password}@localhost/Employees_DB')
conn = engine.connect()

#Matplotlib for calc and charting
import numpy as np
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'psycopg2'

In [3]:
employees_data = pd.read_sql("SELECT * FROM employees", conn)
salary_data = pd.read_sql("SELECT * FROM salaries", conn)
title_data = pd.read_sql("SELECT * FROM titles", conn)

NameError: name 'conn' is not defined

In [ ]:
Bonus Question

In [4]:
x=salary_data['salary']


plt.hist(x, label='Salary')


plt.axvline(x.mean(), color='k', linestyle='dashed', linewidth=1, label='Mean')

min_ylim, max_ylim = plt.ylim()
plt.text(x.mean()*1.1, max_ylim*0.9, 'Mean: ${:,.0f}'.format(x.mean()))
plt.xlabel("Salary")
plt.ylabel("Number of Employees")
plt.title("Most common salary ranges for employees")
plt.legend()
plt.savefig("Most Common Employee Salary Ranges.png")

NameError: name 'salary_data' is not defined

In [1]:
employee_title_salary = pd.read_sql("SELECT * FROM employees INNER JOIN titles ON employees.emp_title = titles.title_id INNER JOIN salaries ON employees.emp_no = salaries.emp_no", conn)
avg_data=employee_title_salary.groupby(["title"]).mean()["salary"].reset_index()
avg_data
bar_chart=plt.bar(avg_data['title'],avg_data['salary'])
x_axis = np.arange(len(avg_data['title']))
tick_locations = [value for value in x_axis]
plt.ylim(0,70000)
plt.xticks(tick_locations,avg_data['title'], rotation=90)
plt.title("Average Salary By Title")
plt.xlabel("Title")
plt.ylabel("Average Salary ($)")
plt.grid(color='#95a5a0', linestyle='--', linewidth=2, axis='y', alpha=0.7)
for i in bar_chart:
    yvalue = i.get_height()
    plt.text(i.get_x(), yvalue + 2000, "${:,.0f}K".format(yvalue/1000))
plt.savefig("Average Salary by Title.png")

NameError: name 'pd' is not defined